In [78]:
import numpy as np
import pandas as pd
import time

In [3]:
window = 24

In [4]:
df = pd.read_csv('data/simple_synthetic_data.csv')

In [5]:
df.shape

(721, 5)

In [50]:
df.head()

      link location                 time    rx_gbs     tx_gbs
0  Verizon   US-DA3  2024-05-01 00:00:00  2.465220   9.689268
1  Verizon   US-DA3  2024-05-01 01:00:00  2.280575  11.636575
2  Verizon   US-DA3  2024-05-01 02:00:00  1.702963   3.688097
3  Verizon   US-DA3  2024-05-01 03:00:00  1.565919  10.631742
4  Verizon   US-DA3  2024-05-01 04:00:00  0.976097   4.585088

In [6]:
df.sort_values(by=['time'],inplace=True)

In [56]:
stride = 12

In [79]:
# add 1 to window because of lag calculation
for j,i in enumerate(range(0,df.shape[0]-(window),stride)):
    temp_df = df.iloc[i:window+1+i,:] # 
    time.sleep(1)
    if j%2 == 0:
        print('kick off load ground truth')

kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth
kick off load ground truth

In [71]:
temp_df.shape

(25, 5)

In [75]:
print(j)

58

In [74]:
temp_df.tail()

        link location                 time    rx_gbs    tx_gbs
716  Verizon   US-DA3  2024-05-30 20:00:00  1.362047  7.985688
717  Verizon   US-DA3  2024-05-30 21:00:00  0.741191  4.405164
718  Verizon   US-DA3  2024-05-30 22:00:00  1.326729  3.901358
719  Verizon   US-DA3  2024-05-30 23:00:00  1.405040  4.796930
720  Verizon   US-DA3  2024-05-31 00:00:00  0.971601  3.855629

In [5]:
df.time.max()

'2024-04-26 02:00:00'

In [33]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29